<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2e7e1bb83a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 text-white">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                Bienvenido <%= current_user.user_name %>!
              </li>
            <% end %>
            <% if !user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path %>&nbsp;&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                <%= link_to "Registrarse", new_user_registration_path %>
              </li>
            <% end %>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Tuiter :D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
             <% if user_signed_in? %>
              <div class="nav-item float-right w-100">
                <%= link_to "Desconectarse", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
              </div>
            <% end %>
        </ul>
    </div>
</nav>
  <% if notice %>
    <div id="app" class="ml-2 mr-2 rounded bg-white p-3 mt-3 mb-3">
      <div class="alert alert-info" role="alert"><%= notice %></div>
    </div>
  <% end %>
  <% if alert %>
    <div id="app" class="ml-2 mr-2 rounded bg-white p-3 mt-3 mb-3">
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    </div>
  <% end %>
  <div id="app" class="ml-2 mr-2 rounded bg-white p-3 mt-3 mb-3">
    <%= yield %>
  </div>
  </body>
</html>
